﻿@using Microsoft.AspNet.Identity

@model projektBSI.Models.PostModel
@{
    ViewBag.Title = "Dodaj post";
}

<h2>@ViewBag.Title.</h2>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("CreatePost", "Post", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Dodaj nowy wpis.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "col-md-6 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control col-md-12" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Article, new { @class = "col-md-6 control-label" })
            <div class="col-md-12">
                @Html.TextAreaFor(m => m.Article, new { @class = "form-control col-md-12" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Dodaj" />
            </div>
        </div>
    }
}
else
{
    <h2>Musisz być zalogowany!</h2>
}


